{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<style>
  ul, ol {
    list-style: none;
  }
  .slider_img img {
    border-radius: 10px;
  }
  @media (max-width: 550px) {
    .d-flex {
      display: block !important;
    }
    .d-flex img {
      margin-bottom: 20px;
    }
    .details_content{
      padding-right: 0 !important;
    }
  }
</style>
<style>
  .table {
    border-radius: 12px;
    overflow: hidden;
  }
  .table th {
    background-color: #f8f9fa;
    font-weight: 600;
  }
  .table td, .table th {
    vertical-align: middle;
  }
</style>
<main class="page_content">

  <section class="page_banner">
    <div class="container">
      <div class="content_wrapper bg_light">
        <div class="row align-items-center">
          <div class="col col-lg-7">
            <ul class="breadcrumb_nav unordered_list">
              <li class="text-dark"><a href="{% url 'pages_index' %}">
                  <span class="uz_text">Bosh sahifa</span>
                  <span class="ru_text">Главная</span>
                  <span class="en_text">Home</span>
              </a></li>
              <li class="text-dark">
                <span class="uz_text">Xorijiy tajribalar</span>
                <span class="ru_text">Иностранный опыт</span>
                <span class="en_text">Foreign experience</span>
              </li>
            </ul>
            <h1 class="page_title">
              <span class="uz_text">Xorijiy gʻo'za navlarini Shinjon texnologiyasi asosida yetishtirish</span>
              <span class="ru_text">Выращивание иностранных сортов хлопка на основе технологии Синьцзян</span>
              <span class="en_text">Growing foreign cotton varieties based on Xinjiang technology</span>
            </h1>
          </div>
          <div class="col col-lg-5">
            <div class="image_widget page_banner_image">
              <img src="{% static 'pages/assets/images/new/xorijiy/main.jpg' %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="details_section mentor_details_section section_space_lg pb-0 mt-5">
    <div class="container">
      <div class="section_space_md pt-0">
        <div class="row align-items-center">
          <div class="col col-lg-6">
            <div class="details_image image_widget border border-primary border-3">
              <img src="{% static 'pages/assets/images/new/paxta_2.png' %}">
            </div>
          </div>
          <div class="col col-lg-6">
            <div class="details_content ps-lg-5">
              <h3 class="mentor_name">
                <span class="uz_text">Suv resurslari va ulardan foydalanish tartibi</span>
                <span class="ru_text">Что вы получите после прохождения нашего курса</span>
                <span class="en_text">Water resources and usage procedures</span>
              </h3>
              <p style="text-align: justify;" class="ru_text">
                <b>Знания и Навыки:</b> Вы усвоите современные методы и техники управления водными ресурсами, научитесь оптимизировать и эффективно использовать воду в сельском хозяйстве. Эти знания помогут вам добиваться лучших результатов в ваших агропроектах.
                <br>
                <b>Сертификация:</b> По завершении курсов вы получите официальный сертификат, подтверждающий вашу квалификацию в области бережливого использования водных ресурсов. Это документ, который подтвердит ваши знания и навыки перед вашими партнерами и работодателями.
                <br>
                <b>Поддержка и Сеть:</b> Вы становитесь частью сообщества "Suvchilar maktabi", где можно обмениваться опытом, получать дополнительную поддержку и консультации от экспертов. Эта сеть связей может стать ценным ресурсом для дальнейшего развития.
              </p>
              <p style="text-align: justify;" class="uz_text">
                <b>Shartnomaviy munosabatlar</b>, suvni boshqarish, suvning hisobi va hisobotini yuritish, suv xo‘jaligi xizmatlari, suv solig‘i va amaldagi qonunchilik hujjatlari
                <br> <br>
                <b>Viloyat va tumanlarning tuproq sharoiti</b> uning suvi, havo va tuz rejimi, ekinlarning suvga talabi, sug‘orish muddatlari va me’yorlari
                <br> <br>
                <b>Tomchilatib</b> yomg‘irlatib sug‘orish texnologiyasini joriy qilish uchun talab etiladigan zarur shart-sharoitlar va ekin turlari
              </p>
              <p style="text-align: justify;" class="en_text">
                <b>Contractual relations</b>, water management, water accounting and reporting, water management services, water tax and current legislation
                <br> <br>
                <b>Soil conditions of regions and districts</b>, its water, air and salt regime, crop water requirements, irrigation periods and norms
                <br> <br>
                <b>Drip and sprinkler irrigation technology</b> requirements for implementation and crop types
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="details_section mentor_details_section section_space_lg pb-0 pt-5">
    <div class="container">
      <div class="section_space_md pt-0">
        <div class="row align-items-center">
          <div class="col col-lg-6">
            <div class="details_content" style="padding-right: 50px;">
              <h3 class="mentor_name">
                <span class="uz_text">Bizning afzaliklarimiz</span>
                <span class="ru_text">Что вы получите после прохождения нашего курса</span>
                <span class="en_text">Our advantages</span>
              </h3>
              <p style="text-align: justify;" class="ru_text">
                <b>Знания и Навыки:</b> Вы усвоите современные методы и техники управления водными ресурсами, научитесь оптимизировать и эффективно использовать воду в сельском хозяйстве. Эти знания помогут вам добиваться лучших результатов в ваших агропроектах.
                <br>
                <b>Сертификация:</b> По завершении курсов вы получите официальный сертификат, подтверждающий вашу квалификацию в области бережливого использования водных ресурсов. Это документ, который подтвердит ваши знания и навыки перед вашими партнерами и работодателями.
                <br>
                <b>Поддержка и Сеть:</b> Вы становитесь частью сообщества "Suvchilar maktabi", где можно обмениваться опытом, получать дополнительную поддержку и консультации от экспертов. Эта сеть связей может стать ценным ресурсом для дальнейшего развития.
              </p>
              <p style="text-align: justify;" class="uz_text">
                <b>Xorijiy mutaxassislar</b> va sohada yuqori malakali, xalqaro tajribaga ega o`qituvchilardan bilim olish imkoniyati
                <br> <br>
                <b> Nazariy va amaliy</b> mashg`ulotlarning uyg`unligi ta`lim jarayonining asosiy qismlaridan biri hisoblanadi
                <br> <br>
                <b> O`quv kursi</b>, dars materiallari, kofebreyk va tushlik barchasi bepul taqdim etiladi.
                <br> <br>
                <b>Xorijiy mutaxassislar</b> va sohada yuqori malakali, xalqaro tajribaga ega o`qituvchilardan bilim olish imkoniyati
              </p>
              <p style="text-align: justify;" class="en_text">
                <b>Foreign experts</b> and highly qualified teachers with international experience
                <br> <br>
                <b>The combination of theory and practice</b> is one of the main parts of the educational process
                <br> <br>
                <b>The training course</b>, study materials, coffee break and lunch are all provided free of charge.
                <br> <br>
                <b>Foreign experts</b> and highly qualified teachers with international experience
              </p>
            </div>
          </div>
          <div class="col col-lg-6">
            <div class="details_image image_widget border border-primary border-3">
              <img src="{% static 'pages/assets/images/new/paxta_3.png' %}">
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="section_space_lg pt-0 pb-5">
    <div class="container">
      <div class="section_heading text-center">
        <h2 class="heading_text mb-0">
          <span class="uz_text">O'quv dasturi</span>
          <span class="ru_text">Программа обучения</span>
          <span class="en_text">Training program</span>
        </h2>
      </div>

        <div class="container mt-1">
          <div
            class="swiffy-slider d-flex justify-content-center slider-item-show6 slider-item-show2-sm slider-item-snapstart slider-nav-caretfill slider-nav-autopause slider-indicators-square slider-indicators-outside slider-nav-animation-slow"
          >
            <ul class="slider-container py-5 d-flex gap-5" style="padding-left: 0;">
              <li class="slide-visible">
                <div id="slide1">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/new/xorijiy/1.jpg' %}""/>
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div d="slide2">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/new/xorijiy/2.jpg' %}" />
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div id="slide3">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/new/xorijiy/3.jpg' %}" />
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div id="slide4">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/new/xorijiy/4.jpg' %}" />
                  </div>
                </div>
              </li>
            </ul>
  
            <!-- <button type="button" class="slider-nav"></button>
            <button type="button" class="slider-nav slider-nav-next"></button> -->
          </div>
        </div>

      <div class="container mt-5">
        <!-- <h1 class="fw-bold fs-1 text-start uz_text">1 - KUN</h1>
        <h1 class="fw-bold fs-1 text-start en_text">Day - 1</h1>
        <h1 class="fw-bold fs-1 text-start ru_text">1 - ДЕНЬ</h1> -->
        <!-- <div class="container mt-1">
          <div class="swiffy-slider d-flex justify-content-center slider-item-show6 slider-item-show2-sm slider-item-snapstart slider-nav-caretfill slider-nav-autopause slider-indicators-square slider-indicators-outside slider-nav-animation-slow">
            <ul class="slider-container py-5 d-flex gap-5">
              <li class="slide-visible">
                <div id="slide1">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/fermer/1-min.jpg' %}" />
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div d="slide2">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/fermer/5-min.jpg' %}" />
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div id="slide3">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/fermer/6-min.jpg' %}" />
                  </div>
                </div>
              </li>
              <li class="slide-visible">
                <div id="slide4">
                  <div class="slider_img text-center gap-3">
                    <img
                    src="{% static 'pages/assets/images/fermer/7-min.jpg' %}" />
                  </div>
                </div>
              </li>
            </ul>
          </div>
        </div> -->

        <div class="mt-1 d-flex flex-row course justify-content-between align-items-center card card-body mt-2">
          <h6 class="col-md-8">
            <span class="uz_text">🧬 <b>Paxtachilikda genetik jihatdan oʻzgartirilgan gʻoʻza navlarini yetishtirishda</b> ilmiy-innovatsion yechimlar.</span>
            <span class="ru_text">🧬 Научно-инновационные решения при выращивании генетически модифицированных сортов хлопка.</span>
            <span class="en_text">🧬 Scientific and innovative solutions in growing genetically modified cotton varieties.</span>
          </h6>
          <h3 class="fw-bold text-start">9:30 - 10:30</h3>
        </div>

        <div class="mt-1 d-flex flex-row course justify-content-between align-items-center card card-body mt-2">
          <h6 class="col-md-8">
            <span class="uz_text">🌿 <b>Xorijiy va mahalliy gʻoʻza navlarini parvarishlashda</b> intensiv agrotexnologiyalarni qo'llashning muhim jihatlari.</span>
            <span class="ru_text">🌿 Важные аспекты применения интенсивных агротехнологий при уходе за иностранными и местными сортами хлопка.</span>
            <span class="en_text">🌿 Key aspects of applying intensive agrotechnologies in caring for foreign and local cotton varieties.</span>
          </h6>
          <h3 class="fw-bold text-start">10:30 - 11:30</h3>
        </div>

        <div class="mt-1 d-flex flex-row course justify-content-between align-items-center card card-body mt-2 bg-light">
          <h6 class="col-md-8">
            <span class="uz_text">☕️ <b>Tanaffus</b></span>
            <span class="ru_text">☕️ <b>Перерыв</b></span>
            <span class="en_text">☕️ <b>Break</b></span>
          </h6>
          <h3 class="fw-bold text-start">11:30 - 11:40</h3>
        </div>

        <div class="mt-1 d-flex flex-row course justify-content-between align-items-center card card-body mt-2">
          <h6 class="col-md-8">
            <span class="uz_text">💧 <b>Plenka ostiga tomchilatib sug'orish texnologiyasi</b> asosida yetishtirilayotgan xorijiy va mahalliy gʻoʻza navlarini sugʻorish me'yorlari.</span>
            <span class="ru_text">💧 Нормы орошения иностранных и местных сортов хлопка, выращиваемых по технологии капельного орошения под пленкой.</span>
            <span class="en_text">💧 Irrigation norms for foreign and local cotton varieties grown using drip irrigation technology under film.</span>
          </h6>
          <h3 class="fw-bold text-start">11:40 - 12:40</h3>
        </div>

        <div class="mt-1 d-flex flex-row course justify-content-between align-items-center card card-body mt-2">
          <h6 class="col-md-8">
            <span class="uz_text">🛡️ <b>Mahalliy va xorijiy gʻoʻza navlarini intensiv agrotexnologiya asosida yetishtirishda</b> zararkunanda va kasalliklardan himoya qilish chora-tadbirlari.</span>
            <span class="ru_text">🛡️ Меры защиты от вредителей и болезней при выращивании местных и иностранных сортов хлопка на основе интенсивных агротехнологий.</span>
            <span class="en_text">🛡️ Pest and disease protection measures when growing local and foreign cotton varieties using intensive agrotechnology.</span>
          </h6>
          <h3 class="fw-bold text-start">12:40 - 13:40</h3>
        </div>

      </div>

      <div class="section_heading text-center mt-5 pt-5 pb-0 mb-0">
        <h2 class="heading_text mb-0">
          <span class="uz_text">Paxtachilikda intensiv agrotexnologiya</span>
          <span class="ru_text">Интенсивная агротехнология в хлопководстве</span>
          <span class="en_text">Intensive agrotechnology in cotton growing</span>
        </h2>
      </div>
      <div class="container mt-3">
        <div class="text-center px-5">
          <p class="text-center mb-4 uz_text" style="font-size: 20px;">
            <b>"Xorijiy guza navlarini Shinjon texnologiyasi assosida yetishtirish"</b> amaliyoti mavzusidagi ilmiy-amaliy SEMENAR Grafig (tuman kesimida)
          </p>
          <p class="text-center mb-4 ru_text" style="font-size: 20px;">
            <b>"Выращивание иностранных сортов хлопка на основе технологии Синьцзян"</b> График научно-практического СЕМИНАРА (по районам)
          </p>
          <p class="text-center mb-4 en_text" style="font-size: 20px;">
            <b>"Growing foreign cotton varieties based on Xinjiang technology"</b> Scientific and practical SEMINAR Schedule (by district)
          </p>
        </div>

        <div class="table-responsive">
          <table class="table table-bordered text-center align-middle">
            <thead>
              <tr>
                <th>№</th>
                <th>
                  <span class="uz_text">Hudud nomi</span>
                  <span class="ru_text">Название района</span>
                  <span class="en_text">District name</span>
                </th>
                <th>
                  <span class="uz_text">Tuman soni</span>
                  <span class="ru_text">Количество районов</span>
                  <span class="en_text">Number of districts</span>
                </th>
                <th>
                  <span class="uz_text">Ishtirokchilar soni</span>
                  <span class="ru_text">Количество участников</span>
                  <span class="en_text">Number of participants</span>
                </th>
                <th>
                  <span class="uz_text">Haqiqatan o‘qitilganlar</span>
                  <span class="ru_text">Фактически обученные</span>
                  <span class="en_text">Actually trained</span>
                </th>
                <th>
                  <span class="uz_text">Farq +/-</span>
                  <span class="ru_text">Разница +/-</span>
                  <span class="en_text">Difference +/-</span>
                </th>
                <th>
                  <span class="uz_text">Foizda (bajarilish)</span>
                  <span class="ru_text">В процентах (выполнение)</span>
                  <span class="en_text">In percent (completion)</span>
                </th>
                <th>
                  <span class="uz_text">O‘quv seminar boshlanish vaqti</span>
                  <span class="ru_text">Время начала учебного семинара</span>
                  <span class="en_text">Training seminar start time</span>
                </th>
                <th>
                  <span class="uz_text">O‘qish davomiyligi</span>
                  <span class="ru_text">Продолжительность обучения</span>
                  <span class="en_text">Duration of study</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <span class="uz_text">Bo‘evut</span>
                  <span class="ru_text">Боеут</span>
                  <span class="en_text">Boevut</span>
                </td>
                <td>1</td>
                <td>102</td>
                <td>33</td>
                <td>-69</td>
                <td>32.4%</td>
                <td>9:30–12:00</td>
                <td>
                  <span class="uz_text">2-iyul</span>
                  <span class="ru_text">2-июля</span>
                  <span class="en_text">July 2</span>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <span class="uz_text">Guliston</span>
                  <span class="ru_text">Гулистан</span>
                  <span class="en_text">Gulistan</span>
                </td>
                <td>1</td>
                <td>41</td>
                <td>39</td>
                <td>-2</td>
                <td>95.1%</td>
                <td>9:30–12:00</td>
                <td>
                  <span class="uz_text">3-iyul</span>
                  <span class="ru_text">3-июля</span>
                  <span class="en_text">July 3</span>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <span class="uz_text">Sayxunobod</span>
                  <span class="ru_text">Сайхунобод</span>
                  <span class="en_text">Saykhunabad</span>
                </td>
                <td>1</td>
                <td>38</td>
                <td>26</td>
                <td>-12</td>
                <td>68.4%</td>
                <td>15:30–18:00</td>
                <td>
                  <span class="uz_text">3-iyul</span>
                  <span class="ru_text">3-июля</span>
                  <span class="en_text">July 3</span>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <span class="uz_text">Sirdaryo</span>
                  <span class="ru_text">Сырдарья</span>
                  <span class="en_text">Syrdarya</span>
                </td>
                <td>1</td>
                <td>87</td>
                <td>37</td>
                <td>-50</td>
                <td>42.5%</td>
                <td>9:30–12:00</td>
                <td>
                  <span class="uz_text">4-iyul</span>
                  <span class="ru_text">4-июля</span>
                  <span class="en_text">July 4</span>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <span class="uz_text">Sardoba</span>
                  <span class="ru_text">Сардоба</span>
                  <span class="en_text">Sardoba</span>
                </td>
                <td>1</td>
                <td>51</td>
                <td>40</td>
                <td>-11</td>
                <td>78.4%</td>
                <td>15:30–18:00</td>
                <td>
                  <span class="uz_text">4-iyul</span>
                  <span class="ru_text">4-июля</span>
                  <span class="en_text">July 4</span>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  <span class="uz_text">Oqoltin</span>
                  <span class="ru_text">Акалтын</span>
                  <span class="en_text">Akaltyn</span>
                </td>
                <td>1</td>
                <td>35</td>
                <td>35</td>
                <td>0</td>
                <td>100%</td>
                <td>9:30–12:00</td>
                <td>
                  <span class="uz_text">5-iyul</span>
                  <span class="ru_text">5-июля</span>
                  <span class="en_text">July 5</span>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  <span class="uz_text">Xovos</span>
                  <span class="ru_text">Ховос</span>
                  <span class="en_text">Khovos</span>
                </td>
                <td>1</td>
                <td>92</td>
                <td>58</td>
                <td>-34</td>
                <td>63.0%</td>
                <td>9:30–12:00</td>
                <td>
                  <span class="uz_text">7-iyul</span>
                  <span class="ru_text">7-июля</span>
                  <span class="en_text">July 7</span>
                </td>
              </tr>
            </tbody>
            <tfoot class="table-light fw-bold">
              <tr>
                <td colspan="2" class="text-end">
                  <span class="uz_text">Jami</span>
                  <span class="ru_text">Итого</span>
                  <span class="en_text">Total</span>
                </td>
                <td>7</td>
                <td>446</td>
                <td>268</td>
                <td>-178</td>
                <td>68.6%</td>
                <td colspan="2"></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

      <div class="section_heading text-center mt-5 pt-5">
        <h2 class="heading_text mb-0">
          <span class="uz_text">Xitoy chigiti ekilgan fermer xo'jaliklari<br>Viloyat kesmida</span>
          <span class="ru_text">Фермерские хозяйства, выращивающие китайский хлопок<br>В разрезе областей</span>
          <span class="en_text">Farms growing Chinese cotton<br>By region</span>
        </h2>
      </div>
      <div class="container my-5">
        <div class="table-responsive">
          <table class="table table-bordered text-center align-middle">
            <thead>
              <tr>
                <th>№</th>
                <th>
                  <span class="uz_text">Hudud nomi</span>
                  <span class="ru_text">Название региона</span>
                  <span class="en_text">Region name</span>
                </th>
                <th>
                  <span class="uz_text">Tuman soni</span>
                  <span class="ru_text">Количество районов</span>
                  <span class="en_text">Number of districts</span>
                </th>
                <th>
                  <span class="uz_text">Chigit tarqatilgan barcha fermer xo‘jaliklar</span>
                  <span class="ru_text">Все фермерские хозяйства, получившие семена</span>
                  <span class="en_text">All farms that received seeds</span>
                </th>
                <th>
                  <span class="uz_text">Chigit unib chiqqan fermer xo‘jaliklar</span>
                  <span class="ru_text">Фермерские хозяйства, где семена проросли</span>
                  <span class="en_text">Farms where seeds sprouted</span>
                </th>
                <th>
                  <span class="uz_text">O‘qish davomiyligi</span>
                  <span class="ru_text">Продолжительность обучения</span>
                  <span class="en_text">Duration of study</span>
                </th>
              </tr>
            </thead>
            <tbody>
              <tr>
                <td>1</td>
                <td>
                  <span class="uz_text">QQR</span>
                  <span class="ru_text">ККР</span>
                  <span class="en_text">QQR</span>
                </td>
                <td>7</td>
                <td>595</td>
                <td>118</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>2</td>
                <td>
                  <span class="uz_text">Jizzax</span>
                  <span class="ru_text">Джиззах</span>
                  <span class="en_text">Jizzakh</span>
                </td>
                <td>7</td>
                <td>129</td>
                <td>128</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>3</td>
                <td>
                  <span class="uz_text">Namangan</span>
                  <span class="ru_text">Наманган</span>
                  <span class="en_text">Namangan</span>
                </td>
                <td>10</td>
                <td>206</td>
                <td>203</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>4</td>
                <td>
                  <span class="uz_text">Samarqand</span>
                  <span class="ru_text">Самарканд</span>
                  <span class="en_text">Samarkand</span>
                </td>
                <td>5</td>
                <td>331</td>
                <td>89</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>5</td>
                <td>
                  <span class="uz_text">Toshkent</span>
                  <span class="ru_text">Ташкент</span>
                  <span class="en_text">Tashkent</span>
                </td>
                <td>7</td>
                <td>140</td>
                <td>140</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>6</td>
                <td>
                  <span class="uz_text">Farg‘ona</span>
                  <span class="ru_text">Фергана</span>
                  <span class="en_text">Fergana</span>
                </td>
                <td>2</td>
                <td>401</td>
                <td>54</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
              <tr>
                <td>7</td>
                <td>
                  <span class="uz_text">Xorazm</span>
                  <span class="ru_text">Хорезм</span>
                  <span class="en_text">Khorezm</span>
                </td>
                <td>10</td>
                <td>217</td>
                <td>216</td>
                <td>
                  <span class="uz_text">24–25 iyul</span>
                  <span class="ru_text">24–25 июля</span>
                  <span class="en_text">July 24–25</span>
                </td>
              </tr>
            </tbody>
            <tfoot class="table-light fw-bold">
              <tr>
                <td colspan="2" class="text-end">
                  <span class="uz_text">Jami</span>
                  <span class="ru_text">Итого</span>
                  <span class="en_text">Total</span>
                </td>
                <td>48</td>
                <td>2019</td>
                <td>948</td>
                <td></td>
              </tr>
            </tfoot>
          </table>
        </div>
      </div>

    </div>
  </section>

</main>
{% endblock %}