{% extends 'pages/base.html' %}

{% load static %}

{% block title %}
{% endblock title %}

{% block content %}
<main class="page_content">

  <section class="page_banner">
    <div class="container">
      <div class="content_wrapper" style="background-image: url({% static 'pages/assets/images/web_imgs/news.jpg' %}); width: 100%">
        <div class="row align-items-center">
          <div class="col col-12">
            <ul class="breadcrumb_nav unordered_list">
              <li><a href="{% url 'pages_index' %}" class="text-white">
                <span class="uz_text">Bosh sahifa</span>
                <span class="ru_text">Главная</span>
                  <span class="en_text">Home</span>
              </a></li>
              <li class="text-white">
                <span class="uz_text">Yangiliklar</span>
                <span class="ru_text">Новости</span>
                  <span class="en_text">News</span>
              </li>
            </ul>
            <h1 class="page_title text-white">
              <span class="uz_text">Yangiliklar</span>
                <span class="ru_text">Новости</span>
                  <span class="en_text">News</span>
            </h1>
          </div>
        </div>
      </div>
    </div>
  </section>

  <section class="blog_section section_space_lg">
    <div class="container">
      <div class="row">
        <div class="col col-lg-12">
          <div class="row">
            {% for i in news_all %}
            <div class="col col-lg-4">
              <div class="blog_item">
                <ul class="item_category_list unordered_list">
                  <li><span class="badge bg-info">{{i.html_date}}</span></li>
                </ul>
                <div class="item_image">
                  <a href="{% url 'pages_news_detail' i.id %}" >
                    <img src="{{i.image.url}}" alt="Collab – Online Learning Platform">
                  </a>
                </div>
                <div class="item_content">
                  <h3 class="item_title">
                    <a class="ru_text" href="{% url 'pages_news_detail' i.id %}">
                      {{i.title_ru}}
                    </a>
                    <a class="uz_text" href="{% url 'pages_news_detail' i.id %}">
                      {{i.title_uz}}
                    </a>
                    <a class="en_text" href="{% url 'pages_news_detail' i.id %}">
                      {{i.title_en}}
                    </a>
                  </h3>
                  <a class="btn_unfill" href="{% url 'pages_news_detail' i.id %}">
                    <span class="btn_text uz_text">Batafsil</span>
                    <span class="btn_text ru_text">Подробнее</span>
                      <span class="btn_text en_text">More</span>
                    <span class="btn_icon">
                      <i class="fas fa-long-arrow-right"></i>
                      <i class="fas fa-long-arrow-right"></i>
                    </span>
                  </a>
                </div>
              </div>
            </div>
            {% endfor %}
          </div>
        </div>
      </div>
    </div>
  </section>
  
</main>
{% endblock %}