{% extends 'control/base.html' %}

{% block content %}
<!-- start page title -->
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Все ответы на вопросы</h4>
        </div>
    </div>
</div>     
<!-- end page title --> 

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {% if base.code == 'success' %}
                <div class="alert alert-info">
                    Q&A была успешно изменена!
                </div>
                {% elif base.code == 'add' %}
                <div class="alert alert-info">
                    Q&A была успешно добавлена!
                </div>
                {% elif base.code == 'remove' %}
                <div class="alert alert-info">
                    Q&A была успешно удалена!
                </div>
                {% elif base.code == 'error' %}
                <div class="alert alert-danger">
                    Что-то пошло не так!
                </div>
                {% endif %}
                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Приоритет</th>
                                <th>Название</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for q in qas %}
                            <tr>
                                <th>{{q.priority}}</th>
                                <td>{{q.title_ru}}</td>
                                <td><a href="{% url 'control_qa_detail' q.id %}" class="btn btn-secondary btn-sm">Подробнее</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>

    </div>
</div>
{% endblock content %}