{% extends 'control/base.html' %}
{% load static %}
{% block content %}
<link rel="stylesheet" href="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.24.2/jodit.es2018.min.css"/>
<script src="https://cdnjs.cloudflare.com/ajax/libs/jodit/3.24.2/jodit.es2018.min.js"></script>

<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Редактировать программу</h4>
        </div>
    </div>
</div>     

<div class="row">
    <div class="col-12">
        <form enctype="multipart/form-data" action="{% url 'control_course_edit' %}" method="POST">
            {% csrf_token %}
            <input type="hidden" name="id" value="{{course.id}}">
            <div class="card">
                <div class="card-body">
                    <label>Приоритет</label>
                    <input type="number" required name="priority" class="form-control mb-2" value="{{course.priority}}">
                    <label>Временный интервал</label>
                    <input type="text" required name="time_interval" class="form-control mb-2" value="{{course.time_interval}}">
                    <label>Обложка</label> 
                    <input type="file" name="image" class="form-control mb-2">
                    <img src="{{course.image.url}}" width="350px" alt="">
                </div>
            </div>
        <div class="card">
            <div class="card-body">
                
                <div class="btn-group mb-3 w-100" role="group" aria-label="Basic radio toggle button group">
                    <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                    <label class="btn btn-outline-dark" for="btnradio1">Блок: RU</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio2">Блок: EN</label>

                    <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                    <label class="btn btn-outline-dark" for="btnradio3">Блок: UZ</label>
                </div>
                    
                <div id="block_ru">
                    <!-- <p class="sub-header">Snow is a clean, flat toolbar theme.</p> -->
                    <label>Название (RU)</label>
                    <input required type="text" name="title_ru" class="form-control mb-2" value="{{course.title_ru}}">
                    <label>Описание (RU)</label>
                    <textarea required id="editor1" name="content_ru">{{course.content_ru}}</textarea>
                </div>

                <div id="block_en" class="d-none">
                    <!-- <p class="sub-header">Snow is a clean, flat toolbar theme.</p> -->
                    <label>Название (EN)</label>
                    <input required type="text" name="title_en" class="form-control mb-2" value="{{course.title_en}}">
                    <label>Описание (EN)</label>
                    <textarea required id="editor2" name="content_en">{{course.content_en}}</textarea>
                </div>

                <div id="block_uz" class="d-none">
                    <!-- <p class="sub-header">Snow is a clean, flat toolbar theme.</p> -->
                    <label>Название (UZ)</label>
                    <input required type="text" name="title_uz" class="form-control mb-2" value="{{course.title_uz}}">
                    <label>Описание (UZ)</label>
                    <textarea required id="editor3" name="content_uz">{{course.content_uz}}</textarea>
                </div>

                <div class="row">
                    <div class="col-md-6"><button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Сохранить</button></div>
                    <div class="col-md-6"><button type="button" data-bs-target="#modal_delete" data-bs-toggle="modal" class="btn btn-danger btn-lg w-100 mt-3">Удалить</button></div>
                </div>

            </div>
        </div> 
    </form>
    </div> 
</div>

<div class="modal" id="modal_delete" tabindex="-1">
    <div class="modal-dialog">
        <div class="modal-content">
            <div class="modal-header">
            <h5 class="modal-title">Удалить программу</h5>
            <button type="button" class="btn-close" data-bs-dismiss="modal" aria-label="Close"></button>
            </div>
            <div class="modal-body">
            <p>После удаления вы не сможете вернуть обратно, вы действительно хотите удалить?</p>
            </div>
            <div class="modal-footer">
            <form action="{% url 'control_course_remove' %}" method="POST">
                {% csrf_token %}
                <input type="hidden" value="{{course.id}}" name="id">
                <button type="button" class="btn btn-secondary" data-bs-dismiss="modal">Отмена</button>
                <button type="submit" class="btn btn-danger">Да, удалить!</button>
            </form>
            </div>
        </div>
    </div>
</div>

{% endblock content %}


{% block script %}
<script>
    $('textarea').each(function () {
        var editor = Jodit.make(this);
    });
    $('.jodit-toolbar-button_file').remove()
    $('.jodit-toolbar-button_video').remove()
    $('.jodit-ui-group_group_clipboard').remove()
    $('.jodit-ui-group_group_other').remove()
    // $('.jodit-ui-group_group_source').remove()
    $('.jodit-ui-group_group_info').remove()
    $('.jodit-ui-group_group_search').remove()
    $('.jodit-toolbar-button_classSpan').remove()
    // $('.jodit-toolbar-button_brush').remove()


    document.querySelector('#btnradio1').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.remove('d-none')
        document.querySelector('#block_en').classList.add('d-none')
        document.querySelector('#block_uz').classList.add('d-none')
    })

    document.querySelector('#btnradio2').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.add('d-none')
        document.querySelector('#block_en').classList.remove('d-none')
        document.querySelector('#block_uz').classList.add('d-none')
    })

    document.querySelector('#btnradio3').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.add('d-none')
        document.querySelector('#block_en').classList.add('d-none')
        document.querySelector('#block_uz').classList.remove('d-none')
    })
</script>
{% endblock %}