{% extends 'control/base.html' %}

{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Все эксперты</h4>
        </div>
    </div>
</div>     

<div class="row">
    <div class="col-lg-12">
        <div class="card">
            <div class="card-body">
                {% if base.code == 'success' %}
                <div class="alert alert-info">
                    Эксперт был успешно изменен!
                </div>
                {% elif base.code == 'add' %}
                <div class="alert alert-info">
                    Эксперт был успешно добавлен!
                </div>
                {% elif base.code == 'remove' %}
                <div class="alert alert-info">
                    Эксперт был успешно удален!
                </div>
                {% elif base.code == 'error' %}
                <div class="alert alert-danger">
                    Что-то пошло не так!
                </div>
                {% endif %}

                <div class="table-responsive">
                    <table class="table m-0">
                        <thead>
                            <tr>
                                <th>Приоритет</th>
                                <th>Название</th>
                                <th>Группа</th>
                                <th></th>
                            </tr>
                        </thead>
                        <tbody>
                            {% for s in experts %}
                            <tr>
                                <th>{{s.priority}}</th>
                                <td>{{s.fio_ru}}</td>
                                <td>{{s.get_group_display}}</td>
                                <td><a href="{% url 'control_expert_detail' s.id %}" class="btn btn-secondary btn-sm">Подробнее</a></td>
                            </tr>
                            {% endfor %}
                        </tbody>
                    </table>
                </div>
            </div>
        </div>
    </div>
</div>
{% endblock content %}