{% extends 'control/base.html' %}
{% load static %}
{% block content %}
<div class="row">
    <div class="col-12">
        <div class="page-title-box">
            <h4 class="page-title">Добавить отзыв</h4>
        </div>
    </div>
</div>     

<div class="row">
    <div class="col-12">
        <form enctype="multipart/form-data" action="{% url 'control_testi_create' %}" method="POST">
            {% csrf_token %}
            <div class="card">
                <div class="card-body">
                    <label>Приоритет</label>
                    <input type="number" required name="priority" class="form-control mb-2" >

                    <label>Сообщение</label>
                    <textarea required name="content" class="form-control" rows="5"></textarea>
                    <br>
                    <label>Обложка</label> 
                    <input required type="file" name="image" class="form-control mb-2" accept="image/png, image/jpg, image/jpeg">
                </div>
            </div>
            <div class="card">
                <div class="card-body">

                    <div class="btn-group mb-3 w-100" role="group" aria-label="Basic radio toggle button group">
                        <input type="radio" class="btn-check" name="btnradio" id="btnradio1" autocomplete="off" checked>
                        <label class="btn btn-outline-dark" for="btnradio1">Блок: RU</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio2" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio2">Блок: EN</label>

                        <input type="radio" class="btn-check" name="btnradio" id="btnradio3" autocomplete="off">
                        <label class="btn btn-outline-dark" for="btnradio3">Блок: UZ</label>
                    </div>
                        
                    <div id="block_ru">
                        <label>ФИО (RU)</label>
                        <input type="text" required name="fio" class="form-control mb-2" >
                        <label>Должность и компания (RU)</label>
                        <input type="text" required name="proffesion" class="form-control mb-2" >
                    </div>

                    <div id="block_en" class="d-none">
                        <label>ФИО (EN)</label>
                        <input type="text" required name="fio_en" class="form-control mb-2" >
                        <label>Должность и компания (EN)</label>
                        <input type="text" required name="proffesion_en" class="form-control mb-2" >
                    </div>
    
                    <div id="block_uz" class="d-none">

                        <label>ФИО (UZ)</label>
                        <input type="text" required name="fio_uz" class="form-control mb-2" >
                        <label>Должность и компания (UZ)</label>
                        <input type="text" required name="proffesion_uz" class="form-control mb-2" >
                    </div>

                    <button type="submit" class="btn btn-primary btn-lg w-100 mt-3">Добавить</button>
                </div>
            </div> 
        
    </form>
    </div> 
</div>
{% endblock content %}

{% block script %}
<script>
    document.querySelector('#btnradio1').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.remove('d-none')
        document.querySelector('#block_en').classList.add('d-none')
        document.querySelector('#block_uz').classList.add('d-none')
    })

    document.querySelector('#btnradio2').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.add('d-none')
        document.querySelector('#block_en').classList.remove('d-none')
        document.querySelector('#block_uz').classList.add('d-none')
    })

    document.querySelector('#btnradio3').addEventListener('click', ()=> {
        document.querySelector('#block_ru').classList.add('d-none')
        document.querySelector('#block_en').classList.add('d-none')
        document.querySelector('#block_uz').classList.remove('d-none')
    })
</script>
{% endblock %}